<div class="login-container">

    <!-- LADO IZQUIERDO -->
    <div class="left">

        <!-- IMAGEN -->
        <img src="assets/images/fondoinicio.png" class="Mascotas">

        <!-- TEXTO ENCIMA -->
        <div class="overlay">
            <h1>Helpyourpet</h1>
            <p>Cuidamos a quienes más amas</p>
        </div>

    </div>

    <!-- LINEA DIVISORA -->
    <div class="vertical-divider"></div>

    <!-- LADO DERECHO -->
    <div class="right">

        <div class="form-box">

            <div class="titulo">Iniciar sesión</div>

            <input type="text" placeholder="Correo electrónico o celular">
            <input type="password" placeholder="Contraseña">

            <button class="login-btn" routerLink="/inicio">Iniciar sesión</button>

            <a class="forgot" routerLink="/recovery">¿Olvidaste tu contraseña?</a>

            <div class="divider"></div>

            <button class="register-btn" routerLink="/register">
                Crear cuenta nueva
            </button>

        </div>

    </div>

    <!-- FOOTER -->
    <div class="footer">
        <p>&copy; 2024 Helpyourpet - Todos los derechos reservados</p>
    </div>

</div>