@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka:wght@300..700&display=swap');

.login-container {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Fredoka', 'Baloo 2', 'Fira Sans', sans-serif;
}

/* LADO IZQUIERDO */
.left {
    width: 60%;
    position: relative;
}

.Mascotas {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 90%;
}

/* overlay ENCIMA de la imagen */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(1, 51, 167, 0.547) 0%, rgba(100, 100, 100, 0) 30%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
}

.overlay h1 {
    color: #112055;
    font-size: 4rem;
    margin: 1%;
}

.overlay p {
    font-size: 1.4rem;
}

/* LINEA DIVISORA VERTICAL */
.vertical-divider {
    width: 1px;
    background-color: #ddd;
    height: 100%;
    margin: auto 0;
}

/* LADO DERECHO */
.right {
    width: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 11%;
}

/* FORMULARIO */
.form-box {
    background: white;
    padding: 20px;
    border-radius: 25px;
    width: 490px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.titulo {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Baloo 2';
    text-align: center;
    color: #303854;
}

/* INPUTS */
input {
    padding: 15px;
    border-radius: 17px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:hover {
    border-color: #4ade80;
}

/* BOTÓN LOGIN */
.login-btn {
    background: #258e48;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #187eb9;
}

/* TEXTO */
.forgot {
    text-align: center;
    color: #3b82f6;
    cursor: pointer;
}

/* DIVISOR */
.divider {
    height: 1px;
    background: #ddd;
    margin: 10px 0;
}

/* BOTÓN REGISTRO */
.register-btn {
    background: #e0f2fe;
    color: #0369a1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.register-btn:hover {
    background: #bae6fd;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.885);
    color: white;
    text-align: center;
    padding: 0.18rem;
    font-size: 0.9rem;
}

//responsive imagen mascotas
@media (max-width: 768px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
        margin-top: 0;
    }
}