:root {
	--rosa-pastel: #f8d7da;
	--azul-nav: #99c6ed;
	--azul-pastel: #c6eee6;
	--beige: #f8f9fa;
	--azul-oscuro: #0451c4;
	--verde-oscuro: #2926a7;
	--rosa-fuerte: #ba9dff;
	--gris-claro: #f8f9fa;
	--gris-medio: #e9ecef;
	--color-fondo: #ffffff;
	--color-texto: #000000;
	--color-navbar: #f4f4f4;
	--color-card: #ffffff;
}

body {
  font-family: 'Fira sans', sans-serif;
  background-color: #fff;
  color: #333;
}
